<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./include/head.ejs") %>
  </head>
  <body>
    <%- include("./include/nav.ejs") %>
    <h1>Welcome to my Home Page</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam mollitia
      ipsa nemo autem! Quidem, consequuntur minima? Tenetur magnam, sint
      consectetur quam nam illum corporis quod magni nemo optio unde eos saepe
      aliquid est asperiores porro laudantium, ad voluptatum! Saepe aut itaque
      commodi unde maiores dignissimos sapiente, autem distinctio. Ducimus,
      nobis alias. Fugiat, labore. Quos vel, dolorum odio deserunt optio commodi
      reiciendis soluta quisquam assumenda amet sequi, expedita eum recusandae
      voluptates excepturi deleniti voluptatibus maxime! Beatae asperiores
      labore, ex unde dignissimos harum quas corporis quisquam quam, incidunt,
      perferendis magni officia! Itaque ab velit aspernatur iste excepturi
      voluptatum ut molestiae temporibus officiis delectus, porro accusantium!
      Ducimus voluptas, omnis veniam nam assumenda nulla, ipsa quibusdam
      molestias quod aliquid accusantium reiciendis laborum deleniti deserunt
      velit unde perspiciatis exercitationem optio excepturi, vel enim
      voluptatum iure? Eos sapiente blanditiis at doloribus nulla incidunt ut,
      nihil natus illum dignissimos, dolores commodi cumque quisquam. Porro
      minima dolorum amet dolor tenetur id distinctio quia deserunt reiciendis
      quibusdam architecto dolorem eum inventore harum ab, minus tempore ut,
      nihil repellat velit quae aliquid? Facilis quod a quae consectetur. Eaque
      dicta, dolorem ipsum eum suscipit libero animi. Pariatur deleniti aliquam
      illo est in molestias necessitatibus officia quod velit hic, neque sunt
      sit culpa, cum consectetur cupiditate. Eaque ab tempore, magni fuga,
      voluptate aspernatur provident fugit vel atque quam, quo repellendus
      doloribus magnam omnis obcaecati quaerat est possimus? Similique,
      repellat. Porro corporis ullam optio eum adipisci? Qui molestiae quae
      eaque perferendis nobis deserunt, at enim nam suscipit corporis sit ea
      minima. Rem, harum? Sed ipsa aut eos explicabo eaque doloribus, voluptatum
      fugit, error cumque laboriosam magnam ea quas labore, ipsam maxime natus?
      Molestias, corporis nisi! Ab quasi, tempore asperiores, sed ipsam
      recusandae libero, suscipit doloribus quisquam voluptatem laboriosam
      laborum accusantium? Ab blanditiis dolor id, alias similique ipsa libero
      animi, optio, commodi quisquam necessitatibus! Minus ipsam tempora dolorem
      enim, harum vel, impedit ipsum odit unde culpa corrupti, consequuntur
      rerum. Architecto exercitationem, sint, libero ipsa illo voluptatibus
      cumque error necessitatibus atque sit similique dolorum est ex totam.
      Soluta ullam doloremque incidunt ipsa laborum rem alias eius velit
      debitis? Nihil blanditiis debitis culpa beatae aperiam, cumque repellendus
      distinctio error ab corporis dicta consectetur cupiditate praesentium
      laudantium nam quasi deserunt. Repudiandae voluptates officia eveniet
      fugit nesciunt culpa cupiditate esse fugiat blanditiis numquam ratione
      dolor animi quam, architecto nihil quibusdam totam doloremque, cum itaque
      sunt reprehenderit iste accusantium? Numquam dicta, quis necessitatibus
      mollitia officia ad veniam fuga blanditiis, aliquam tenetur soluta
      praesentium accusantium est quae vero. Reprehenderit rem voluptatem
      voluptas minima modi illo recusandae, officia a ex ab officiis voluptate
      ipsa numquam error aperiam, commodi aut ut sequi totam. Nemo laborum
      soluta, ipsum doloremque velit repellat porro magni quaerat veritatis
      itaque hic ea, placeat quisquam nulla. Impedit earum rerum minus
      perspiciatis amet magnam distinctio similique harum voluptas cupiditate
      libero ducimus, cum corporis aperiam atque. Iure, cupiditate quibusdam
      omnis blanditiis error sit asperiores reprehenderit dignissimos,
      architecto commodi officia consequuntur quasi sapiente numquam unde? Amet
      dolores, mollitia non quas saepe ex! Illo ut possimus, consectetur, ea
      dolorum ipsum quibusdam corporis quo minus facilis numquam quia veritatis
      illum libero aliquid deleniti ullam vel quaerat? Corporis tempora
      cupiditate in ipsa blanditiis dolores, alias quas quaerat error hic
      officia. Illo ipsam doloribus iure unde, iste eos deleniti, dignissimos
      officia nulla quas ea non? Tempore, facere saepe quae doloremque ipsum
      quis, recusandae perferendis ea et tenetur impedit eos amet alias iusto
      consectetur excepturi minus placeat illum ipsam officia quisquam labore.
      Ducimus deserunt ratione voluptatibus excepturi dolorem praesentium dolore
      esse quasi ea impedit quia provident fuga nisi rerum nulla eaque porro,
      exercitationem cum accusantium facilis! Vero voluptatem quia dignissimos
      labore ut distinctio accusantium eaque itaque, ad mollitia eum non nobis
      maxime, repellat doloremque maiores veritatis quasi eveniet! Ipsa, iste
      aliquam animi repellat delectus accusantium quisquam veniam vero illo
      ratione laudantium dignissimos ad. Optio tempora soluta placeat omnis
      nesciunt, dolorum provident deleniti cum, pariatur nihil quia culpa eius
      minus doloremque! Aperiam ab ducimus et placeat molestiae cupiditate eum,
      sequi reiciendis quas vel excepturi praesentium ut dolor porro rerum
      explicabo veritatis cum aspernatur provident fugiat deleniti omnis ipsa
      incidunt. Quod ipsam fugit voluptates sint nobis! Voluptate libero iste
      ratione, nobis exercitationem fugit temporibus eligendi ipsam, facere,
      dolore ducimus labore sed recusandae a repellat eaque ad distinctio velit
      soluta doloribus tempora aliquam vel veniam nostrum. Velit id dolorum,
      odit, perspiciatis magnam nesciunt provident aliquid atque, debitis ipsam
      nostrum dolore nobis! Explicabo dolor, sapiente, vero aliquam doloremque
      accusamus id praesentium odit laborum excepturi recusandae quas fuga iusto
      quis debitis commodi voluptatibus laboriosam voluptas repellat eaque
      labore tenetur tempora ratione quasi? Dolore totam nobis voluptatum
      aspernatur blanditiis sequi at dolores laboriosam eligendi corrupti unde,
      nihil cum officiis itaque dolor magni excepturi minus fuga obcaecati
      maxime officia doloribus ipsa. Veritatis enim pariatur suscipit neque,
      quisquam voluptate ipsum eius eveniet autem, magni deserunt blanditiis
      error dolores dolor repudiandae temporibus? Cumque quos, dolor facilis
      exercitationem quam quasi animi soluta quibusdam. Sit aliquam ducimus quae
      laborum mollitia esse possimus ea deserunt autem saepe fugiat, fuga
      corporis at in? Odio accusantium, consectetur repudiandae dolorem autem
      veritatis earum cum ducimus et eligendi voluptates! Quis a dolore suscipit
      eligendi nulla natus ipsum officiis, unde quo nam autem magnam itaque
      numquam exercitationem soluta sed vitae inventore, sit omnis earum.
      Blanditiis, et qui. Deleniti, debitis eaque? Mollitia quibusdam nostrum
      explicabo unde nam et ratione, voluptatem neque, dolore similique esse
      culpa voluptatibus nemo sed at cupiditate debitis atque quasi! Nostrum
      tempore quibusdam, adipisci illum minima eius vitae eos nobis iure
      necessitatibus veniam officia officiis eaque incidunt vero dolorum?
      Numquam odio unde facere id ipsam, vel quasi accusamus magnam, inventore
      consequuntur nulla libero ea repudiandae facilis consequatur deserunt
      iusto excepturi, explicabo sapiente eos vero soluta ratione? Porro
      doloribus ex pariatur saepe, assumenda earum similique inventore
      laboriosam error dolorem officia, cupiditate nostrum sint! Porro libero
      molestiae deleniti. Earum molestiae natus praesentium labore ullam est,
      vel, maxime perspiciatis sint magni, ab distinctio sed accusantium
      expedita doloribus rerum cupiditate alias? Minima cum porro harum nemo
      obcaecati hic in dolores molestias quisquam recusandae. Rem quasi aperiam
      magnam corporis asperiores vero provident fuga alias. Ducimus, laboriosam.
    </p>
  </body>
</html>
